# https://EditorConfig.org

# top-most EditorConfig file
root = true

[**]
end_of_line = crlf
insert_final_newline = true
charset = utf-8
indent_style = space
indent_size = 2

[**.ps*1]
indent_style = space
indent_size = 4

[docs/**.md]
end_of_line = lf
indent_style = space
indent_size = 4

[LICENSE]
indent_style = space
indent_size = 3

[{**.sh,**.tf*}]
end_of_line = lf
